@model AlienTorpedoSite.ViewModels.Grupo.GrupoViewModel

@{
    <!-- Informando layout a ser utilizado caso o user esteja logado -->
    Layout = "_Layout_logado";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-action="AtrelarEvento">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Teste Manero</h3>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    @*<label asp-for="IdGrupoEvento" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <span class="form-control">@Model.IdGrupoEvento</span>
                    </div>*@
                    <textarea asp-for="IdGrupoEvento">@Model.IdGrupoEvento</textarea>
                </div>
            </div>
        </div>
        @if (ViewBag.nmEvento != null)
            {
                if (ViewBag.nmEvento != 0)
                {
                <div class="alert alert-danger" role="alert">@ViewBag.nmEvento</div>
            }
        }
        <div>
            <input type="submit" class="btn btn-info" value="Atualizar" />
        </div>
    </div>
</form>
